*{
    margin: 0;
    padding: 0;
}

li.li {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

h3.tieude-3.mt-5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

h3.tiede-3.mt-5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

h2.tieude-3.mt-5 {font-size: 60px;font-family: 'Oswald', sans-serif;font-weight: 700;}

p.text-right.mt-5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

p.mota.mt-4 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

h3.tieude-2.mt-5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

h2.tieude-2.mt-5 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 700;
}

.icons-khoi1 {
    margin-top: 28px;
}

p.mota-1.text-muted {
    margin-top: 48px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin-right: 72px;
}

h4.tieude-4 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

h1.tieude-1 {
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    font-weight: 700;
}

p.quote {
    font-family: 'Baskervville', serif;
    font-style: italic;
    font-size: 14px;
    margin-top: 24px;
}

h4.nick{
    font-family: 'Baskervville', serif;
    margin-top: 12px;
}
body{
    padding-left: 360px;
    padding-right: 36px;
}
header,.khoi-2,.khoi-4{
    min-height: 500px;
}
.nav-left{
    width: 300px;
    height: 100%;
    min-height: 500px;
    background-color: #1b1919;
    text-align: center;
    color: #ffffffa6;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
img.avatar{
    width: 100%;
}
h2.name{
    margin-top: 48px;
    font-family: 'Baskervville', serif;
    font-size: 28px;
}
i.contact {
    width: 60px;
    height: 60px;
    background-color: #1b1919;
    color: white;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 24px;
    margin-right: 24px;
    cursor: pointer;
    transition: 0.4s;
}
i.contact:hover {
    background-color: #e60023;
}
li.li {
    list-style: none;
    margin-left: 16px;
}
i.fas.fa-bell {
    margin-right: 16px;
}
hr{
    margin: 64px 0;
}
.khoido{
    background-color: #e60023 ;
    width: 250px;
    height: 10px;
}
.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    width: 300px;
    height: 100%;
    background-color: #212529;
    color: white;
    text-align: left;
    transform: translateX(100%);
    transition: 0.4s;
}
.di-vao{
    transform: translateX(0);
}
.nut-menu {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 999;
    width: 48px;
    height: 48px;
    background-color: #0005;
    color: white;
    line-height: 48px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.nut-menu:hover {
    background-color: #0009;
}
.hide{
    display: none;
}
p.menu-item {
    line-height: 56px;
    padding-left: 24px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 22px;
}